Q2: Do the following exercise in a Jupyter Notebook (a GitHub Link would be the best): -- 12pt
- Load the countries.csv directly via URL import into your panda data frame!
- Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe
- Show the last 4 rows of the data frame.
- Show all the rows of countries that have the EURO
- Show only name and Currency in a new data frame
- Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
- Select all countries where with inhabitants between 50 and 150 Mio
- Calculate the GDP average (ignore the missing value)
- Calculate the GDP average (missing value treated as 0)
- Calculate the population density (population/area)  of all countries and add as new column
- Sort by country name alphabetically
- Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

Send me a PDF or a link to GitHub / GitLab, etc.

The idea is: DevEnvironment + your passion!

In [41]:
import pandas as pd

# URL of CSV file
url = 'https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv'

# load the countries.csv directly via URL import into your panda data frame
data = pd.read_csv(url)

# show the data frame
data

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe

In [42]:
data.describe()  # pandas describe() does the job. These are all regularly used statistics.

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

Show the last 4 rows of the data frame.

In [43]:
data.tail(4)  # pandas tail(4) shows the last 4 rows.

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

Show all the rows of countries that have the EURO

In [44]:
data[data['Currency'] == 'EUR']  # pandas data['Currency'] == 'EUR' filters the data frame.

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

Show only name and Currency in a new data frame

In [45]:
data[['Name', 'Currency']]  # pandas data[['Name', 'Currency']] selects the columns.

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)

In [46]:
data[data['GDP'] > 2000]  # pandas data['GDP'] > 2000 filters the data frame.

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

Select all countries with inhabitants between 50 and 150 Mio

In [47]:
data[(data['Population'] >= 50 * 10**6) & (data['Population'] <= 150 * 10**6)]  # ** is the power operator.

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

Calculate the GDP average (ignore the missing value)

In [48]:
data['GDP'].mean()  # pandas mean() ignores missing values by default.

2387.5

Calculate the GDP average (missing value treated as 0)

In [49]:
data['GDP'].fillna(0).mean()  # pandas fillna(0) replaces missing values with 0.

2046.4285714285713

Calculate the population density (population/area) of all countries and add as new column

In [50]:
data['Population Density'] = data['Population'] / data['Area']  # pandas allows column-wise operations.

Sort by country name alphabetically

In [51]:
data.sort_values('Name')  # pandas sort_values('Name') sorts the data frame by 'Name'.

        Name  Population     Area     GDP Currency  Population Density
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
2     Canada    36503097  9984670  1529.0      CAD            3.655914
0    Germany    82521653   357385  3466.0      EUR          230.904075
3      Italy    60501718   301338  1850.0      EUR          200.776928
1      Japan   126045000   377835  4938.0      YEN          333.597999
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [52]:
def area_category(area):
    if area > 1000000:
        return 'BIG'
    else:
        return 'SMALL'
    
new_data = data.copy()
new_data['Area'] = data['Area'].apply(area_category)
new_data

        Name  Population   Area     GDP Currency  Population Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200